<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>
    Dear <strong><span th:text="${recipient}"></span></strong>
</p>
<p style="align:center">
    <img src="http://learningbycoding.com/img/logoexport2.png" />
</p>
<p>
    You just uploaded a file to this site
</p>
<p>
    Sincerely,
    Webmaster
</p>
</body>
</html><span class="redactor-selection-marker" id="selection-marker-1" data-verified="redactor"></span>